build/
dist/
*.egg-info/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.so
*.o
*.obj
*.lib
*.exp
.env
.vscode/
.venv/
.pytest_cache/
data/*.csv
!data/.gitkeep
logs/*.log
db_volume/
.DS_Store
*.swp